<!-- header.ejs -->

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/actor1">Actor 1</a></li>
            <li><a href="/actor2">Actor 2</a></li>
            <li><a href="/actor3">Actor 3</a></li>
            <li><a href="/actor4">Actor 4</a></li>
        </ul>
    </nav>
</header>
